@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
<header class="styky-header">
    <div class="header-box">
        <!-- logo start -->
    </div>
</header>

<main class="animsition-overlay" data-animsition-overlay="true">
    <a name="secHome">
        <section class="bkr003">
            <div class="aboutus-01" style="background-image: url('images/resource/40160996-cool-high-tech-wallpapers.jpg'); background-repeat:no-repeat; background-size:cover; background-position:center;height:100%">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 wow fadeInLeft">
                            <div class="title" style="margin-bottom:unset" data-animation-container>
                                <h2>
                                    <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay02" data-animation="overlay-anim2">Hello !</span> <br>
                                    <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay02" data-animation="overlay-anim2">I am </span> <br>
                                    <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay03" data-animation="overlay-anim2">Prashanth</span>
                                </h2>
                            </div>
                            <div class="subtitle"><h2 style="color:red"><strong>Software Developer</strong></h2></div>
                        </div>
                        <div class="col-md-6 col-sm-6 wow fadeInRight">
                            <div class="img-holder">
                                <div class="overlay-anim-box2 overlay-dark-bg-9" data-animation="overlay-anim2"><img src="images/resource/IMG_0909.jpg" alt="" data-tilt data-tilt-perspective="2000"></div>
                                <div class="title">
                                    <h4>Prashanth Babu Krishnamurthy</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </a>
    <section class="bkr003 light">
        <div class="resume-01" id="resume_01">

            <div class="big-title"><h1 data-enllax-ratio=".5" data-enllax-type="foreground" data-enllax-direction="horizontal"> Resume</h1></div>
            <div class="container">
                <div class="sec-title">
                    <div class="subtitle"><h3>Resume</h3></div>
                    <div class="title" data-animation-container>
                        <h2>
                            <span data-animation-child="" class="title-fill animated" data-animation="title-fill-anim" data-text="Experience">Experience</span>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-sm-6   wow fadeInLeft">
                        <div class="img"><div class="overlay-anim-box2 overlay-dark-bg-9" data-animation="overlay-anim2"><img src="~/images/resource/ben-kolde-lqZPleZ4ERA-unsplash.jpg" alt="" data-tilt data-tilt-perspective="2000"></div></div>
                    </div>
                    <div class="col-lg-7 col-sm-12 wow fadeInRight">
                        <div class="inner">
                            <div class="icon-box">
                                <span class="fa fa-briefcase"></span>
                                <div class="title">
                                    <h4>IMCS Group Inc.</h4>
                                </div>
                                <div class="date">May 2018-Present</div>
                            </div>
                            <div class="title" data-animation-container><h3><span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay01" data-animation="overlay-anim2">Software Developer/Contractor</span></h3></div>
                            <div class="text">
                                <p>Client: Cinergy Entertainment Group Inc.</p>
                                <p>
                                    The project is to upgrade their internal ERP (Cync) developed on .NET core framework. This application is more functional with many modules and is being developed using the latest technologies. This project is a full functioning ERP that supports all the business needs of cinergy. My responsibilities include:
                                </p>
                            </div><p>Responsibilities:</p>
                            <ul class="list">
                                <li><span>01.</span>Upgrade all older applications with better and newer programming languages</li>
                                <li><span>02.</span>Design User Interface and backend functionality based on the requirements</li>
                                <li><span>03.</span>Develop and maintain SQL database</li>
                                <li><span>04.</span>Perform data analysis</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-sm-12 wow fadeInLeft">
                        <div class="inner">
                            <div class="icon-box">
                                <span class="fa fa-briefcase"></span>
                                <div class="title"><h4>Cinergy Entertainment Group Inc.</h4></div>
                                <div class="date">Aug 2017-May 2018</div>
                            </div>
                            <div class="title" data-animation-container><h3><span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay01" data-animation="overlay-anim2">Software Developer</span></h3></div>
                            <div class="text">
                                <p>Cync is an Enterprise resource planning (ERP) application developed on ASP.NET framework that is being used by Cinergy for its business needs. The project is a large scale ASP.Net core application with Bootstrap based Front end Framework and C# Back end.  It is a three-tiered application (web, application and database server) with multiple levels of security between each tier.</p>
                            </div><p>Responsibilities:</p>
                            <ul class="list">
                                <li><span>01.</span>Collect and document application requirements</li>
                                <li><span>02.</span>Design User Interface and backend functionality for application</li>
                                <li><span>03.</span>Develop and maintain database</li>
                                <li><span>04.</span>Perform data analysis</li>
                                <li><span>05.</span>Support Tickets</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-6 wow fadeInRight">
                        <div class="img"><div class="overlay-anim-box2 overlay-dark-bg-9" data-animation="overlay-anim2"><img src="~/images/resource/javier-quesada-ZYb_fGvNndA-unsplash.jpg" alt="" data-tilt data-tilt-perspective="2000"></div></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5 col-sm-6 wow fadeInLeft">
                        <div class="img"><div class="overlay-anim-box2 overlay-dark-bg-9" data-animation="overlay-anim2"><img src="~/images/resource/tanner-van-dera-2wgFeX1qkLk-unsplash.jpg" alt="" data-tilt data-tilt-perspective="2000"></div></div>
                    </div>
                    <div class="col-lg-7 col-sm-12 wow fadeInRight">
                        <div class="inner">
                            <div class="icon-box">
                                <span class="fa fa-briefcase"></span>
                                <div class="title"><h4>Center for IT Excellence, Texas A&M University - Commerce</h4></div>
                                <div class="date">Oct 2016-May 2017</div>
                            </div>
                            <div class="title"><h3 data-animation-container><span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay01" data-animation="overlay-anim2">Graduate Assistant / Student Worker</span></h3></div>
                            <div class="text">
                                <p>CITE is responcible for all the IT related functioning in Texas A&M - Commerce. Being a part of this team I gained hands on experience in setting up high end projectors and Polycom devices for distance education classes.</p>
                            </div><p>Responsibilities:</p>
                            <ul class="list">
                                <li><span>01.</span>Work with projectors and Polycom devices</li>
                                <li><span>02.</span>Support calls related to projectors, Polycom, PC and few other technical issues</li>
                                <li><span>03.</span>Generate/resolve/close tickets in the ticketing system</li>
                                <li><span>04.</span>Walk-in and resolve hardware/software related issues</li>
                                <li><span>05.</span>Setup distance education classrooms</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="~/pdf/PKrishnamurthy.pdf" target="_blank">VIEW RESUME</a> <a class="hvr-rectangle-out" href="#secContact">Hire Me Now</a>
                </div>
            </div>
        </div>
    </section>
    @*<section class="bkr003 home_z" style="        background-image: url(images/background/bg2.jpg);">
            <div class="video-01 kuk">
                <div class="container">
                    <div class="wow fadeInUp animated  animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="square_box box_three "></div>
                        <div class="square_box box_four "></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-sm-12 wow fadeInLeft">
                            <div class="sec-title">
                                <div class="title" data-animation-container><h2><span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay01" data-animation="overlay-anim2">MY <span style="color:#ef0e34">VIDEO</span> PRESENTATION</span></h2></div>
                                <div class="text"><p>Please check my video presentations on various development projects.</p></div>
                                <div class="btn-box"><a href="https://www.youtube.com/channel/UCkJgZVNjp91x7QA46I_8u8w" target="_blank">My Youtube Chanel</a></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 wow fadeInRight">
                            <div class="inner">
                                <div class="img-box">
                                    <a href="https://www.youtube.com/channel/UCkJgZVNjp91x7QA46I_8u8w" target="_blank"><img style="height:450px" src="~/images/resource/youtube-3873587_960_720.jpg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <section class="bkr003 lightst">
        <div class="service-icon-03">
            <div class="big-title"><h1 data-enllax-ratio=".5" data-enllax-type="foreground" data-enllax-direction="horizontal">Services</h1></div>
            <div class="container">
                <div class="sec-title">
                    <div class="subtitle"><h3>Services</h3></div>
                    <div class="title" data-animation-container>
                        <h2>
                            <span data-animation-child="" class="title-fill animated" data-animation="title-fill-anim" data-text="My Best Services">My Best Services</span>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="ser_block4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="item">
                            <div class="left-layer"></div>
                            <div class="right-layer"></div>
                            <div class="icon">
                                <span class="flaticon-idea"></span>
                            </div>
                            <div class="title"><h4>.Net Full Stack Development</h4></div>
                            <div class="text">
                                <ul style="color:white">
                                    <li>- Design, implementation and development of software</li>
                                    <li>- Analysis of existing problems and identification or development of system requirements</li>
                                    <li>- Design of interfaces and components</li>
                                    <li>- Programming .NET applications</li>
                                    <li>- Assistance to the support team</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="ser_block4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="item">
                            <div class="left-layer"></div>
                            <div class="right-layer"></div>
                            <div class="icon">
                                <span class="flaticon-predictive-chart"></span>
                            </div>
                            <div class="title"><h4>MSSQL Database Development</h4></div>
                            <div class="text">
                                <ul style="color:white">
                                    <li>- Development of high quality database solutions</li>
                                    <li>- Develop, implement and optimize stored procedures and functions using T-SQL</li>
                                    <li>- Develop procedures and scripts for data migration</li>
                                    <li>- Build appropriate and useful reporting deliverables</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ser_block4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="item">
                            <div class="left-layer"></div>
                            <div class="right-layer"></div>
                            <div class="icon">
                                <span class="flaticon-support-1"></span>
                            </div>
                            <div class="title"><h4>Freelance Application Development</h4></div>
                            <div class="text">
                                <ul style="color:white">
                                    <li>- Discuss requirements with customers</li>
                                    <li>- Determine the website’s target audience</li>
                                    <li>- Design and develop code</li>
                                    <li>- Test the website</li>
                                    <li>- Uploading the website onto a server</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ser_block4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="item">
                            <div class="left-layer"></div>
                            <div class="right-layer"></div>
                            <div class="icon">
                                <span class="flaticon-web-programming"></span>
                            </div>
                            <div class="title"><h4>Web Development</h4></div>
                            <div class="text">
                                <ul style="color:white">
                                    <li>- web design</li>
                                    <li>- web publishing</li>
                                    <li>- web programming</li>
                                    <li>- database management</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ser_block4 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="item">
                            <div class="left-layer"></div>
                            <div class="right-layer"></div>
                            <div class="icon">
                                <span class="flaticon-ai-file"></span>
                            </div>
                            <div class="title"><h4>Web API Development/Integration</h4></div>
                            <div class="text">
                                <ul style="color:white">
                                    <li>- Development of .Net API projects</li>
                                    <li>- API Intergration with third party vendors</li>
                                    <li>- Data transfer through API</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bkr003">
        <div class="skills-03 portfolio_item">
            <div class="wow fadeInUp animated ">
                <div class="square_box box_three"></div>
                <div class="square_box box_four "></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 left wow fadeInLeft">
                        <div class="image">
                            <img src="images/resource/skill-03-bg.jpg" alt="">
                            <div class="content">

                                <div class="title" data-animation-container>
                                    <h2>
                                        <span data-animation-child="" class="title-fill animated" data-animation="title-fill-anim" data-text="Let's Work Together">Let's Work Together</span><br>
                                        <span data-animation-child="" class="title-fill animated" data-animation="title-fill-anim" data-text="On Your Next Project">On Your Next Project</span>
                                    </h2>
                                </div>
                                <div class="text"><p>I am interested in developing new projects using latest technologies and stay in trend.</p><p>I am looking forward to join your team and work on interesting and more challenging projects.</p></div>
                                <div class="btn-box">
                                    <a class="hvr-rectangle-out" href="#secContact">Hire Me Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 wow fadeInRight">
                        <!-- Skill BLock -->
                        <div class="skill-block">
                            <div class="title" data-animation-container>
                                <h2>
                                    <span data-animation-child="" class="title-fill animated" data-animation="title-fill-anim" data-text="My Skill on Computing">My Skill on Computing</span>
                                </h2>
                            </div>
                            <div class="inner-box">
                                <div class="progress-item">
                                    <div class="skill-title"><h3>.Net</h3></div>
                                    <div class="progress" data-value="90">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <div class="value-holder"><span class="value"></span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="skill-title"><h3>C#</h3></div>
                                    <div class="progress" data-value="90">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                            <div class="value-holder"><span class="value"></span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="skill-title"><h3>MSSQL</h3></div>
                                    <div class="progress" data-value="90">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                            <div class="value-holder"><span class="value"></span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="skill-title"><h3>Web Design</h3></div>
                                    <div class="progress" data-value="90">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                            <div class="value-holder"><span class="value"></span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="skill-title"><h3>C/C++</h3></div>
                                    <div class="progress" data-value="80">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                            <div class="value-holder"><span class="value"></span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="skill-title"><h3>Angular JS</h3></div>
                                    <div class="progress" data-value="75">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                            <div class="value-holder"><span class="value"></span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="skill-title"><h3>Azure DevOps</h3></div>
                                    <div class="progress" data-value="75">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                            <div class="value-holder"><span class="value"></span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bkr003 new">
        <div id="secContact" class="contact-02">
            <div class="container">
                <div class="big-title"><h1 data-enllax-ratio=".5" data-enllax-type="foreground" data-enllax-direction="horizontal">Contact Me</h1></div>
                <div class="sec-title">
                    <div class="subtitle"><h3>GET IN TOUCH</h3></div>
                    <div class="title" data-animation-container>
                        <h2>
                            <span data-animation-child="" class="title-fill animated" data-animation="title-fill-anim" data-text="Drop Me A Line">Drop Me A Line</span>
                        </h2>
                    </div>
                </div>
                <form id="contactform" method="post" class="contact-form  wow fadeInUp" autocomplete="off">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="frm-control">
                                <input asp-for="Contact.Name" type="text" placeholder="Your Name" value="" required>
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="frm-control">
                                <input type="email" asp-for="Contact.Emailaddr" placeholder="Email Address" value="" required>
                                <i class="fas fa-envelope"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="frm-control">
                                <input asp-for="Contact.Phone" type="text" placeholder="Phone" value="">
                                <i class="fas fa-phone-volume"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="frm-control mb0">
                                <textarea id="txtarea" asp-for="Contact.Message" placeholder="Message" required></textarea>
                                <i class="fas fa-pen"></i>
                                <button id="btnsubmit" class="btn-box" type="submit">Send Now</button>
                            </div>                         
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="bkr003">
        <div class="footer-bottom-area-03">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInLeft">
                        <div class="copyright-text">
                            <p>Copyright © 2020 of All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 wow fadeInRight">
                        <div class="social-list">
                            <ul class="list clearfix">
                                <li><a href="https://www.youtube.com/channel/UCkJgZVNjp91x7QA46I_8u8w" target="_blank"><span class="fab fa-youtube"></span></a></li>
                                <li><a href="https://www.instagram.com/prachu026/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="https://www.linkedin.com/in/prashanth-babu-krishnamurthy-34247a10a/" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Scroll to top-->
            <div class="scroll-to-top scroll-to-target" data-target="html">
                <span class="fas fa-arrow-up"></span>
            </div>
        </div>
    </section>
</main>
<style type="text/css">
    * {
        cursor: none;
    }
</style>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#txtarea").val("");                          
        });        
        </script>
            <script>
                $(window).load(function () {
                    $(".bg_load").fadeOut("slow");
                    $(".wrapper").fadeOut("slow");
                });
    </script>
}